<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CFSE Patrono</title>
    <link rel="shortcut icon" href="~/Content/Images/saip_logo.ico">
    <link rel="icon" sizes="16x16" href="~/Content/Images/saip_logo.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Images/LOGO SAIP 16X16.png">

    @RenderSection("styles", required: false)
    @Styles.Render("~/content/base/css")
    @Styles.Render("~/content/datatables/css")
</head>
<body class="case-no-bars">
    <div class="container-fluid">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
    <script type="text/javascript">
        var root = '@Url.Content("~/")';
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/numeral")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/inputmask")
    @RenderSection("scripts", required: false)
</body>
</html>