<div class="panel panel-default hidden" id="DemographicParticipant">
    <div class="panel-heading" role="tab" id="heading1">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#link1" aria-expanded="true" aria-controls="collapse3">
                <strong class="text-danger">@Model.ResourceService.GetResourceString("Demografico.Encabezado.label.text")</strong>
            </a>
        </h4>
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "participantForm" }))
    {
        <fieldset>
            <div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
                <div class="panel-body">
                    @Html.Partial("_UpdateLGRow1")
                    @Html.Partial("_UpdateLGRow2")
                    @Html.Partial("_UpdateRow2")
                    @Html.Partial("_UpdateAddress")
                    @Html.Partial("_UpdatePaymentInfo")
                    @Html.Partial("_UpdateComment")
                    @Html.Partial("_UpdateModifyReason")
                    @Html.Partial("_ButtonsParticipant")
                </div>
            </div>
        </fieldset>
    }
</div>