@using Nagnoi.SiC.Web.Models.AdjustmentEBT

@{
    ViewBag.Title = "Aprobar Crédito a EBT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ApproveViewModel

<div class="homePage">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header text-danger">
                <h3>Aprobar Crédito a EBT</h3>
            </div>
        </div>
    </div>
    <form id="frmAjustes" method="post" action="#" class="row">
        <div class="col-md-12 hidden">
            <div class="form-group">
                @Html.DropDownList("AdjustmentStatuses", Model.AdjustmentStatuses, new { @class = "form-control input-sm" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <strong class="text-danger">
                            Listado de Pagos
                        </strong>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="tblPagos" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="hidden">PaymentId</th>
                                            <th>@Model.ResourceService.GetResourceString("FormAjusteEBT.NumeroDeCaso.header.text")</th>
                                            <th>@Model.ResourceService.GetResourceString("FormAjusteEBT.Estatus.header.text")</th>
                                            <th>@Model.ResourceService.GetResourceString("FormAjusteEBT.TipoAjuste.header.text")</th>
                                            <th>@Model.ResourceService.GetResourceString("FormAjusteEBT.Concepto.header.text")</th>
                                            <th>@Model.ResourceService.GetResourceString("FormAjusteEBT.Cheque.header.text")</th>
                                            <th>@Model.ResourceService.GetResourceString("FormAjusteEBT.FechaEmision.header.text")</th>
                                            <th>@Model.ResourceService.GetResourceString("FormAjusteEBT.Desde.header.text")</th>
                                            <th>@Model.ResourceService.GetResourceString("FormAjusteEBT.Hasta.header.text")</th>
                                            <th>@Model.ResourceService.GetResourceString("FormAjusteEBT.Dias.header.text")</th>
                                            <th>@Model.ResourceService.GetResourceString("FormAjusteEBT.Monto.header.text")</th>
                                            <th>@Model.ResourceService.GetResourceString("FormAjusteEBT.SolicitadoPor.header.text")</th>
                                            <th>@Model.ResourceService.GetResourceString("FormAjusteEBT.FechaSolicitud.header.text")</th>
                                            <th>@Model.ResourceService.GetResourceString("FormAjusteEBT.CompleteadoPor.header.text")</th>
                                            <th>@Model.ResourceService.GetResourceString("FormAjusteEBT.Observaciones.header.text")</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <input id="btnSave" class="btn btn-success" type="button" value="Guardar" />
                        <input class="btn btn-success cancelar" type="button" value="Cancelar" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/adjustmentebtapprove/scripts")
}